// colors
$accent: #436372;
$usernum: #243f4d;
$grey: #585858;
$title: #191919;
$subtitle: #414141;
$btn: #a3bbc8;
$option: #222933;
$footertitle: #1f2044;
$footertext: #7b7b7b;
$form: #234969;

$pink: #fcd7b6;
$pinkmedium: #feefe2;
$pinklight: #fef7f0;


// fonts
%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%poppins-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}