// colors
$accent: #436372;
$usernum: #243f4d;
$grey: #585858;
$title: #191919;
$subtitle: #414141;
$light: #a3bbc8;
$option: #222933;
$footertitle: #1f2044;
$footertext: #7b7b7b;


// fonts
%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%poppins-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-family: 700;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-family: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}